В бара сме. Има 4 човека - James, Clara, Tom, John. John е на 16 години.
Бармънът може да сервира само, ако човекът е над 18 и е изпил по-малко от 6 питиета.

Напишете програма, която:
1. Приема поръчките като инпут. (Име на човека + брой на поръчаните питиета, може да е 0)
2. Ако някой не може да поръчва повече, връщайте: Пиян си
3. Всеки път, когато някой поръча нещо, трябва да се принтират поръчките на всички
4. Ако си непълнолетен връщайте: Трябва да почакаш